<ion-side-menus>
    <!-- Center content -->
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button>
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
    </ion-side-menu-content>
    <!-- Left menu -->
    <ion-side-menu side="left">
        <!-- <ion-header-bar class="header__menu"> -->
        <!-- </ion-header-bar> -->
        <ion-content class="content__menu">
            <div class="header__menu--background">
                <h3 class="header__menu--title">Fashion Style</h3>
            </div>
            <div class="content__menu--avatar">
                <img src="img/icon/user-avatar.png" class="content__menu--iconuser">
            </div>
            <div class="content__menu--username">
                GUEST
            </div>
            <div class="content__menu--button">
                <button class="button--login">Login</button>
                <button class="button--register">Register</button>
            </div>
            <div class="content__menu--titleads">
                Shopping Now!!!
            </div>
            <ion-list>
                <div class="content__menu__list">
                    <ion-item class="list__item--menu row">
                        <span class="icon ion-bowtie content__menu--icon"></span>
                        <span class="content__menu--label">Men</span>
                        <div class="content__menu--arrow"><span class="icon ion-arrow-right-b"></span></div>
                    </ion-item>
                    <ion-item class="list__item--menu row">
                        <span class="icon ion-umbrella content__menu--icon"></span>
                        <span class="content__menu--label">Women</span>
                        <div class="content__menu--arrow"><span class="icon ion-arrow-right-b"></span></div>
                    </ion-item>
                    <ion-item class="list__item--menu row">
                        <span class="icon ion-tshirt content__menu--icon"></span>
                        <span class="content__menu--label">Kids</span>
                        <div class="content__menu--arrow"><span class="icon ion-arrow-right-b"></span></div>
                    </ion-item>
                </div>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
